* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/bg.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logoContainer,
header {
  width: 100%;
}

.logoContainer img {
  width: 145px;
  height: 33px;
  padding: 0;
  margin: 30px 70px
}

.title {
  height: 40vh;
}

h1 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  line-height: 55px;
}

h1 span {
  font-weight: lighter;
}

h2 {
  color: #d20094;
  font-size: 30px;
  margin: 0;
}

.mainText {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding: 1% 0 0 5%;
  font-family: "Outfit", sans-serif;
}

.mainText p {
  color: white;
  font-family: "Inter";
  font-size: 15px;
  margin: 0;
}

.instruction {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding: 0 5%;
  font-family: "Inter";
  color: white;
}

.instruction p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
}

.description ul {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  width: 100%;
  margin-top: 2%;
  padding-left: 20px;
}

.description li {
  padding: 0.2%;
}

.proceed {
  display: flex;
  align-items: center;
  color: white;
  padding: 5%;
  font-family: "Inter";
  font-size: 16px;
}

.proceed p {
  font-size: 12px;
  font-weight: bolder;
  padding-left: 0.5%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  background-color: white;
}

/* Spunta al click della checkbox  */
input[type="checkbox"]:checked::before {
  content: "";
  width: 5px;
  height: 9px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-top: -2px;
}

.proceedBtn {
  width: 180px;
  height: 53px;
  background-color: #00ffff;
  color: black;
  font-weight: bolder;
  font-size: 19px;
  border: none;
  margin-left: 24%;
  box-shadow: 0 0 30px rgba(25, 246, 255, 0.9);
  cursor: pointer;
}

.timerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  left: 850px;
}

.timer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  background:
    radial-gradient(closest-side, #1e0b36 79%, transparent 80% 100%),
    conic-gradient(#00ffff 100%, 0, #5b5b5b) border-box;
}

.timer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  line-height: normal;
}

.secondi {
  font-family: "Inter";
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 0;
  font-family: "Outfit", sans-serif;
  line-height: 1;
  margin: 2px 0;
}

.label {
  font-family: "Inter";
  font-size: 9px;
  font-weight: 500;
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}

.titoloFinal {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  line-height: 55px;
  display: flex;
  justify-content: center;
}

.punteggio {
  border: solid 2px #d200935e;
  width: 50%;
  min-height: 120px;
  margin: 20px auto;
  padding: 20px;
  color: white;
  border-radius: 20px;
  background-color: #d2009321;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 90%;
  max-width: 1200px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  gap: 70px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.questionCard .mainText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.questionCard .mainText h1 {
  text-align: center;
  align-items: center;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.answerRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px
}

.answerRow input[type="radio"] {
  display: none;
  padding: 20px;
}

.answerRow label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  padding: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  border: 4px solid white;
  border-bottom-color: rgba(255, 255, 255, 0.337);
  font-family: "Outfit", sans-serif;
  font-size: 22px;
  font-weight: 500;
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: scale 0.2s ease;
}

.answerRow label:hover {
  scale: 0.95
}


.answerRow label:active {
  background-color: rgba(74, 74, 74, 0.134);
  color: rgb(135, 135, 135);
  border: 4px solid rgb(176, 176, 176);
  border-bottom-color: rgba(69, 68, 68, 0.205);
}

.resultContainer {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  line-height: 55px;
}

.resultContainer p strong {
  color: #900080
}